@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  @include FadeInAnimation;

  position: relative;
  width: 30rem;
  margin: auto;
  margin-top: 2rem;

  .mat-card {
    a {
      text-align: center;
      display: block;
      font-size: .8rem;
      padding-top: .5rem;
      font-style: none;
    }
    h2 {
      text-align: center;
    }

    .change-password-wrapper {
      margin-top: 2rem;
      .mat-form-field {
        width: 100%;
      }
      .input-wrapper {
        width: 70%;
        margin: auto;
        display: block;
        cursor: text;
        position: relative;
        .field-required-text {
          margin-top: -1rem;
          margin-bottom: 1rem;
          font-size: 0.8rem;
          color: #ff0000;
          position: absolute;
        }
      }

      .button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        button {
          margin: 0.2rem auto;
          width: calc(10rem + 1vw);
        }
      }
    }
  }
}

@media screen and (max-width: $mobileViewPort) {
  .container {
    width: 95vw;
  }
}
