<div class="container">
  <mat-card>
    <h2>Change Password</h2>
    <form
      class="change-password-wrapper"
      [formGroup]="changePassword"
      (ngSubmit)="savePassword()"
    >
      <div class="input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Previous password</mat-label>
          <input matInput type="password" formControlName="prevPassword" />
        </mat-form-field>
        <p
          class="field-required-text"
          *ngIf="
            changePassword.get('prevPassword')?.hasError('required') &&
            changePassword.get('prevPassword')?.touched
          "
        >
          This field is required.
        </p>
      </div>

      <div class="input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>New password</mat-label>
          <input matInput type="password" formControlName="newPassword" />
        </mat-form-field>
        <p
          class="field-required-text"
          *ngIf="
            changePassword.get('newPassword')?.hasError('required') &&
            changePassword.get('newPassword')?.touched
          "
        >
          This field is required.
        </p>

        <p
          class="field-required-text"
          *ngIf="changePassword.get('password')?.hasError('minlength')"
        >
          Password must contain at least 4 characters.
        </p>
      </div>

      <div class="input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Repeat password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>

        <p
          class="field-required-text"
          *ngIf="
            changePassword.get('confirmPassword')?.hasError('required') &&
            changePassword.get('confirmPassword')?.touched
          "
        >
          This field is required.
        </p>
        <p
          class="field-required-text"
          *ngIf="
            changePassword.hasError('notSame') &&
            changePassword.get('confirmPassword')?.touched
          "
        >
          Passwords do not match
        </p>
      </div>

      <div class="button-wrapper">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="changePassword.invalid"
          routerLink="/dashboard"
        >
          Change!
        </button>
        <button mat-button color="warn" routerLink="/dashboard">Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
